.container-class {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

.logo1 {
    text-align: left;
}
.featured-work-title {
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    color: #7d97ad;
}
.featured-work-title {
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    color: #7d97ad;
}

.featured-work {
    text-align: center;
}

.full-img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.github-url {
    font-family: Tahoma,Arial,"Hiragino Sans GB",simsun,sans-serif;
    font-size: 12px;
    line-height: 1.6; 
}